ul {
  list-style-type: none;
  color: #f4f4f4;
}

a {
  display: inline;
  text-decoration: none;
  margin: 1rem;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 40vh;
  display: inline-block;
  width: 35vw;
}

.App-header {
  background-color: #88ff88;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h3 {
  text-decoration: none;
}

.lined {
  display: inline;
  margin: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
